@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-primary bg-background
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.angle {
  outline: none;
  border: none;
  background:  
      linear-gradient(to right, white 1px, transparent 1px) 0 0,
      linear-gradient(to right, white 1px, transparent 1px) 0 100%,
      linear-gradient(to left, white 1px, transparent 1px) 100% 0,
      linear-gradient(to left, white 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, white 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, white 1px, transparent 1px) 100% 0,
      linear-gradient(to top, white 1px, transparent 1px) 0 100%,
      linear-gradient(to top, white 1px, transparent 1px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 40px 10px;
}

.isActive {
  align-self: center;
  width: 250px;
}

.gapCont {
  gap: 22px;
}